
@{
    ViewBag.Title = "Export";
}

<h2>Export</h2>

<div class="well">
    <!-- <button class="btn btn-primary" id="ButtonExport" name="ButtonExport">匯出資料</button>-->
</div>


<!-- ExportData Dialog -->
@**@@Html.Partial("_ExportDataDialog")
<!-- ExportData Dialog -->
@section scripts{    <script src="~/Scripts/Customer-Export.js"></script> }


